/*------------------------------------------------*\
  #GENERAL
\*------------------------------------------------*/


/* --------- Text ------------- */

span.sheet-bold{
  font-weight: 800;
}

.bold,
.sheet-rolltemplate-hit .sheet-bold {
  font-weight: 800;
}

/* --------- Inputs ------------- */

.ui-dialog .charsheet input,
.ui-dialog .charsheet textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="text"],
input[type="text"]:disabled {
  background-color: transparent;
  border-style: none none none none;
  border-color: transparent;
}

input[type="number"] {
  background-color: transparent;
  border: none;
}

/*
textarea {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border-style: none none none none;
  border-width: 0px;
  border-color: transparent;
  resize: none;
  min-height: 1.5rem;
}
*/

/*
textarea {
  background-color: transparent;
  width: 95%;
  height: 120px;
  border-style: none none dotted none;
  border-color: black;
  resize: none;
}
  */

input[type="checkbox"].sheet-checkbox {
  border: solid black;
  border-radius: 0px;
}

textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus{
  background-color: white;
}

h3 {
  border-style: none none solid none;
  border-color: black;
}

/* -----Hides up/down buttons on numberfields that don't need them ---*/

input[type=number].sheet-ref::-webkit-inner-spin-button,
input[type=number].sheet-ref::-webkit-outer-spin-button,
input[type=number].sheet-txtfield::-webkit-inner-spin-button,
input[type=number].sheet-txtfield::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number].sheet-ref,
input[type=number].sheet-txtfield {
  -moz-appearance: textfield;
}

/* Style reset */
/*
.ui-dialog .charsheet select,
.ui-dialog .charsheet textarea,
.ui-dialog .charsheet input,
.ui-dialog .charsheet .uneditable-input,
.ui-dialog .charsheet label,
.ui-dialog .charsheet button{
  all: initial;
}
*/

textarea,
input {
  all: initial;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #f9f8f3;
}

/* TABS */

.tab {
  margin-top: -4px;
  vertical-align: bottom;
  height: 32px;
  background: linear-gradient(to top, #c4b5a1, #c4b5a1) no-repeat 0 4px;
  border-radius: 0 0 8px 8px;
}

/* configure the tab buttons */
.character,
.items,
.char-abilities,
.override {
    display: none;
}

.tab .toggle {
  border-style: none solid solid solid;
  border-width: 4px;
  border-color: transparent;
  background-color: transparent;
  border-radius: 0 0 8px 8px;
  padding-top: 8px;
  height: 18px;
}

.tab .toggle:hover {
  background: linear-gradient(to top, #f9f8f3, #f9f8f3) no-repeat 0 4px;
  background-size: 100% 24px;
  border-radius: 0 0 20px 20px;
}

.tab .toggle:active {
  color: gray;
}

.sheet-button3 {
  font-family: Pictos;
  width: 40px;
}

/* style the active button */
.tabstoggle[value="character"] ~ div .sheet-button0,
.tabstoggle[value="items"] ~ div .sheet-button1,
.tabstoggle[value="abilities"] ~ div .sheet-button2,
.tabstoggle[value="override"] ~ div .sheet-button3 {
  margin: 0;
  border-style: none ridge ridge ridge;
  border-width: 4px;
  border-color: #c99c78;
  border-radius: 0 0 8px 8px;
  background-color: #f9f8f3;
}

/* show the selected tab */
.tabstoggle[value="character"] ~ div.character,
.tabstoggle[value="items"] ~ div.items,
.tabstoggle[value="abilities"] ~ div.char-abilities,
.tabstoggle[value="override"] ~ div.override {
    display: block;
}

.tab {
  margin-bottom: 8px;
}

/* EXPAND/COLLAPSE */

.expand-checkbox.hidden {
  display: none;
}

.expand-checkbox:not(:checked) ~ .expanded-view,
.expand-checkbox:checked ~ .collapsed-view {
  max-height: 0px;
  overflow: hidden;
}

.expand-checkbox:checked ~ .expanded-view,
.expand-checkbox[value="1"] ~ .expanded-view,
.expand-checkbox[value="on"] ~ .expanded-view,
.expand-checkbox:not(:checked) ~ .collapsed-view {
  max-height: 100vh;
}

.expandable-section.grid {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1.5rem 1fr;
}

.span2 {
  grid-column: span 2;
}

.label-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  text-transform: uppercase;
  text-align: right;

  padding: 0.5rem;

  cursor: pointer;

  border-radius: 7px;
}

.label-toggle:hover {
  color: #7C5A0B;
}

.ui-dialog .charsheet .expand-checkbox {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.1rem;
  background: none;
  border: none;
  width: 2rem;
  height: 2rem;
}

.expand-checkbox:focus {
  outline: none;
}

.expand-checkbox::before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
}

.expand-checkbox:not(:checked)::before {
  border-top: 7px solid transparent;
  border-left: 5px solid currentColor;
  border-bottom: 7px solid transparent;
}

.expand-checkbox:checked::before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 5px solid currentColor;
  transform: translateY(5px);
}

/* LABELS */

.center {
  text-align: center;
}

.tiny {
  font-size: 0.8rem;
}

.mini {
  font-size: 1rem;
  font-weight: normal;
}

.small {
  font-size: 1.2rem;
}

.sub-stat .small {
  font-size: 0.8rem;
}

.medium {
  font-size: 1.4rem;
}

.header.mini, .header.small, .header.medium, .header.large {
  color: #766c4b;
}

h3.small, h4.small {
  color: #766c4b;
  border-color: #766c4b;
  border-style: none none dotted none;
  border-width: 2px;
  text-align: center;
}

h3.medium, h4.medium {
  color: #766c4b;
  border-color: #766c4b;
  border-style: none none solid none;
  border-width: 2px;
}

h3.large, h4.large {
  color: #766c4b;
  border-color: #c99c78;
  border-style: none none ridge none;
  border-width: 4px;
}

h3.small.colored-in, h4.small.colored-in {
  border-style: none;
  color: black;
  background-color: #c4b5a1;
  text-align: left;
  padding-left: 8px;
}

.sub-stat .medium.standard {
  font-size: 1.4rem;
}

.large {
  font-size: 2.3rem;
}

.oneline {
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
}

/* SECTIONS */

.fancy {
  border-image: url("https://raw.githubusercontent.com/p-dahlback/roll20-ffxiv-ttrpg/refs/heads/main/Images/fancy-border.png") 100 / 100;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  z-index: 800;
}

.fancy::before, .fancy::after {
  z-index: 800;
}

.fancy.lowkey {
  border-image: none;
  border-style: ridge;
  border-color: #c99c78;
  border-width: 4px;
}

.fancy.lowkey .fancy.lowkey {
  margin-top: -4px;
}

.fancy.lowkey .left .fancy.lowkey {
  margin-left: -4px;
}
.fancy.lowkey .right.fancy.lowkey {
  margin-right: -4px;
  margin-bottom: -4px;
  height: 1fr;
  width: 1fr;
}

.fancy.image-container {
  padding: 0px;
}

.fancy .image {
  z-index: 700;
}

.ui-dialog .nav-tabs {
  border-bottom: ridge;
  border-color: #c99c78;
  border-width: 2px;
}

.ui-dialog .nav-tabs > li.active > a {
  background-color: transparent;
  border-style: ridge ridge none ridge;
  border-color: #c99c78;
  border-width: 4px;
  border-radius: 8px 8px 0 0;
}

.ui-dialog .charsheet {
  padding: 0;
  margin: 10px 10px 30px 10px;
}

.ui-dialog {
  background-color: #f9f8f3;
  box-shadow: inset 0 0 40px #766c4b;
}

.paper {
  background-color: #f9f8f3;
  box-shadow: inset 0 0 40px #766c4b;
}

.top {
  display: grid;
  grid-template-columns: 50px 0.5fr 0.5fr;
  grid-gap: 16px;
  padding: 8px 24px 0px 12px;
}

.character {
  margin-bottom: 8px;
}

.basic-info.fancy {
  width: 1fr;
  margin-left: -3px;
  margin-top: -3px;
  border-image: url("https://raw.githubusercontent.com/p-dahlback/roll20-ffxiv-ttrpg/refs/heads/main/Images/fancy-border.png") 60 / 90;
  padding: 8px 24px 8px 24px;
}

.profile {
  padding: 8px 16px 8px 16px;
}

.grid {
  display: grid;
  grid-template-columns: 360px 1fr;
}

.grid.fill {
  width: 100%;
  height: 100%;
}

.items.grid {
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: 0.5fr 0.5fr;
}

.vertical-span2 {
  grid-row: span 2;
}

.grid .left {
  padding: 0px;
  width: 1fr;
}

.grid .right {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.vertical {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
}

.horizontal {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.tight {
  gap: 2px;
}

.semi-tight {
  gap: 8px;
}

.flex.horizontal {
  align-items: flex-end;
}

.right-aligned {
  margin-left: auto;
  margin-right: 0px;
}

.list,
.sheet-rolltemplate-ability .sheet-list {
  display: flex;
  flex-direction: column;
}

.floatLeft,
.sheet-rolltemplate-ability .sheet-floatLeft {
  float: left;
}

.floatRight,
.sheet-rolltemplate-ability .sheet-floatRight {
  float: right;
}

.advantage {
  padding-left: 16px;
}

.advantage .horizontal {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.math-button {
  width: 1em;
}

.ui-dialog .charsheet button.roll {
  font-size: 1.6em;
}

.ui-dialog .charsheet button.roll::before {
  font-family: dicefontd20;
  content: "t";
  font-size: 1em;
}

.stat-block {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 16px;
  border-style: none none solid none;
  border-width: 2px;
  border-color: #766c4b;
}

.stat-block button {
  padding-left: 16px;
  padding-right: 16px;
  height: 100%;
  text-align: left;
  color: #766c4b;
  background: none;
  border: none;
}

.stat-block button:hover {
  color: gray;
}

.stat-block button:active {
  color: lightgray;
}

.ui-dialog .charsheet input.stat {
  font-size: 2.2em;
  text-align: right;
  width: 2.5em;
}

.ui-dialog .charsheet input.stat.medium {
  font-size: 1.8em;
}

.ui-dialog .charsheet input:hover, .ui-dialog .charsheet textarea:hover {
  background-color: #f3eadf;
}
.ui-dialog .charsheet input:focus, .ui-dialog .charsheet textarea:focus {
  background-color: #e1d3c1;
}

.stat {
  width: 100%;
}

.main-stat {
  padding: 8px 8px 8px 16px;

}
.sub-stat {
  padding: 8px 16px 8px 8px;
}

.fortune.fancy.lowkey {
  width: 100%;
  margin-left: -4px;
}

.fortune.fancy.lowkey .flex {
  padding: 8px 16px 8px 16px;
}

.sub-stat input.stat {
  font-size: 1.8em;
}

.stat-block .medium {
  align-items: baseline;
}

.stat-shortcut {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  padding: 8px;
}

.stat-shortcut.fancy.lowkey {
  border-top: none;
}

.points {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stat-header {
  height: 20px;
}

.hit-point {
  display: grid;
  grid-template: 
    "a b c d" auto
    "e e e f" auto;
}

.hit-point span {
  align-self: center;
}

.resource-point {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.1fr 0.5fr;
}

.resource-point span {
  align-self: center;
}

.image-container {
  width: 256px;
  height: 256px;
  margin: auto;
}

.image-container .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ui-dialog .charsheet .resource {
  display: none;
}

.ui-dialog .charsheet .resourceSwitch:not([value=""]) ~ .resource {
  display: inline-block;
}

.traits.fancy.lowkey {
  width: 100%;
  margin-bottom: -4px;
}

.repcontainer[data-groupname=repeating_traits] {
  padding: 8px 16px 8px 16px;
}

div[data-groupname=repeating_traits].repcontrol {
  padding: 8px;
}

.trait {
  padding: 12px 0px 12px 0px;
}

.effects {
  margin-top: -32px;
  width: 100%;
}

.repcontainer[data-groupname=repeating_effects] {
  padding: 4px 8px 16px 8px;
}

div[data-groupname=repeating_effects].repcontrol {
  padding-left: 8px;
  padding-right: 8px;
}

/* INPUT */

input[type=text] {
  border-style: none none dotted none;
  border-width: 1px;
  border-color: #766c4b;
}

textarea {
  border-style: none none dotted none;
  border-width: 1px;
  border-color: #766c4b;
}

/*
input[type=number] {
  font-size: 2.3em;
  width: 2em;
}

input[type=number].max {
  font-size: 1.2em;
  width: 2.5em;
}

input.job-input {
  width: 10em;
}
*/

/* Stat editable setting */

.basic-info .overrideSwitch[value="auto"] ~ input,
.stat .overrideSwitch[value="auto"] ~ input,
.stat-shortcut .overrideSwitch[value="auto"] ~ input.max {
  pointer-events: none;
  user-select: none;
  border-style: none;
}

.ui-dialog .charsheet .level .header {
  height: 100%;
}

.ui-dialog .charsheet .level input.header {
  height: 100%;
  padding-bottom: 2px;
}

/* ABILITIES */

.ability {
  width: 20em;
  margin: 3px;
}

.repcontainer[data-groupname="repeating_limit"] .ability {
  margin: 0px;
  width: 100%;
}

.ability,
.sheet-rolltemplate-ability .sheet-ability-template,
.sheet-rolltemplate-hit .sheet-ability-template,
.sheet-rolltemplate-damage .sheet-template-container {
  border-color: #766c4b;
  border-style: solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  vertical-align: top;
}

.effect-icon {
  width: 24px;
  height: 32px;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.effect-type {
  width: 10em;
  margin-top: 8px;
  margin-bottom: 8px;
}

.effect-value {
  width: 6em;
}

.ability-icon,
.sheet-rolltemplate-ability .sheet-ability-icon,
.sheet-rolltemplate-hit .sheet-ability-icon {
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 4px;
  margin-top: 0px;
  margin-left: 4px;
  margin-right: 8px;
  margin-bottom: auto;
  box-shadow: black 1px 2px 5px;
  flex-grow: 0;
  flex-shrink: 0;
}

.title,
.sheet-rolltemplate-ability .sheet-title,
.sheet-rolltemplate-hit .sheet-title {
  flex-grow: 1;
}

.uses {
  height: 1.6em;
}

.uses .max {
  margin-left: 4px;
}

.ui-dialog .charsheet .uses > input {
  width: 2em;
}

.ability .header,
.sheet-rolltemplate-ability .sheet-header {
  background-color: #f8ede4;
  border-radius: 6px 6px 0px 0px;
  padding: 4px;
}


.sheet-rolltemplate-hit .sheet-header {
  background-color: lightpink;
  border-radius: 6px 6px 0px 0px;
  padding: 4px;
}

.sheet-rolltemplate-ability .sheet-header,
.sheet-rolltemplate-damage .sheet-header {
  padding: 4px 4px 8px 4px;
}

.sheet-rolltemplate-damage .sheet-template-container {
  background-color: lightpink;
}

.sheet-rolltemplate-ability .sheet-ability-icon a,
.sheet-rolltemplate-hit .sheet-ability-icon a {
  pointer-events: none;
  user-select: none;
}

.ability .body,
.sheet-rolltemplate-ability .sheet-body,
.sheet-rolltemplate-hit .sheet-body,
.sheet-rolltemplate-damage .sheet-body  {
  background-color: white;
  border-radius: 0px 0px 6px 6px;
  padding: 4px;
}

.sheet-rolltemplate-ability .sheet-body,
.sheet-rolltemplate-damage .sheet-body {
  padding: 16px 4px 8px 4px;
}

.sheet-rolltemplate-damage .sheet-body h4 {
  font-size: 1.8rem;
}

.sheet-rolltemplate-damage .sheet-button-container {
  padding-top: 16px;
}

.header-title,
.sheet-rolltemplate-ability .sheet-header-title,
.sheet-rolltemplate-hit .sheet-header-title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.header-title .title,
.sheet-rolltemplate-ability .sheet-title,
.sheet-rolltemplate-hit .sheet-title {
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: #7C5A0B;
}

.mini-title,
.sheet-rolltemplate-ability .sheet-mini-title,
.sheet-rolltemplate-hit .sheet-mini-title  {
  font-size: 1.2rem;
  font-weight: bolder;
  padding-right: 4px;
}

.sheet-rolltemplate-ability .sheet-header-subtitle,
.sheet-rolltemplate-hit .sheet-header-subtitle {
  padding-top: 8px;
}

.ui-dialog .charsheet .mini-input,
.sheet-rolltemplate-ability .sheet-mini-input,
.sheet-rolltemplate-hitsheet-mini-input {
  font-size: 1.5rem;
}

.ui-dialog .charsheet .mini-input.bold,
.sheet-rolltemplate-ability .sheet-bold {
  font-weight: bolder;
}

.ui-dialog .charsheet .mini-input.italic,
.sheet-rolltemplate-ability .sheet-italic {
  font-style: italic;
}

.flagTitle {
  margin-right: 4px;
}

.ability-controls {
  min-height: 2em;
  width: 1fr;
  margin: 4px;
}

.ability-action {
  color: black;
  float: right;
  font-size: 2rem;
  font-family: Pictos;
  margin: 2px;
}

.ability-action-trigger {
  color: black;
  float: left;
  font-size: 2rem;
  font-family: dicefontd20;
  margin: 2px;
}

/* ABILITY VISIBILITY */
/* Field visibility */
.uses,
.cost,
.condition,
.trigger,
.target,
.range,
.check,
.cr,
.direct-hit,
.limitation {
  display: none;
}

.usesFlag:not(:placeholder-shown) ~ .uses,
.costFlag:not(:placeholder-shown) ~ .cost,
.conditionFlag:not(:placeholder-shown) ~ .condition,
.triggerFlag:not(:placeholder-shown) ~ .trigger,
.targetFlag:not(:placeholder-shown) ~ .target,
.targetFlag:not(:placeholder-shown) ~ .range,
.checkFlag:not(:placeholder-shown)~ .check,
.checkFlag:not(:placeholder-shown) ~ .cr,
.directHitFlag:not(:placeholder-shown) ~ .direct-hit,
.limitationFlag:not(:placeholder-shown) ~ .limitation {
  display: block;
}

/* Field editable setting */

.title textarea,
.type input,
.uses .max,
.cost input,
.condition textarea,
.trigger textarea,
.target textarea,
.range textarea,
.check input,
.cr input,
.base-effect textarea,
.direct-hit textarea,
.limitation input {
  user-select: none;
  pointer-events: none;
  border: none;
}

.titleFlag[value="e"] ~ textarea,
.typeFlag[value="e"] ~ input,
.usesFlag[value="e"] ~ .max, 
.costFlag[value="e"]  ~ input,
.conditionFlag[value="e"]  ~ textarea,
.triggerFlag[value="e"] ~ textarea,
.targetFlag[value="e"] ~ textarea,
.checkFlag[value="e"] ~ input,
.baseEffectFlag[value="e"] ~ textarea,
.directHitFlag[value="e"] ~ textarea,
.limitationFlag[value="e"] ~ input {
  user-select: auto;
  pointer-events: initial;
}

/* Flag visibility */

.overrideContent,
.flagTitle {
  display: none;
}

.overrideSwitch:not([value="auto"]) ~ .overrideContent,
.overrideSwitch:not([value="auto"]) ~ .flagTitle {
  display: inline-block;
  background-color: lightblue;
}

/* Repeating section change control visibility */

div[data-groupname=repeating_limit].repcontrol,
div[data-groupname=repeating_song].repcontrol,
div[data-groupname=repeating_primary].repcontrol,
div[data-groupname=repeating_ninjutsu].repcontrol,
div[data-groupname=repeating_secondary].repcontrol, 
div[data-groupname=repeating_instant].repcontrol,
div[data-groupname=repeating_technique].repcontrol {
  display: none;
}

.overrideSwitch:not([value="auto"]) ~ div[data-groupname=repeating_limit].repcontrol,
.overrideSwitch:not([value="auto"]) ~ div[data-groupname=repeating_song].repcontrol,
.overrideSwitch:not([value="auto"]) ~ div[data-groupname=repeating_primary].repcontrol,
.overrideSwitch:not([value="auto"]) ~ div[data-groupname=repeating_ninjutsu].repcontrol,
.overrideSwitch:not([value="auto"]) ~ div[data-groupname=repeating_secondary].repcontrol,
.overrideSwitch:not([value="auto"]) ~ div[data-groupname=repeating_instant].repcontrol,
.overrideSwitch:not([value="auto"]) ~ div[data-groupname=repeating_technique].repcontrol {
  display: block;
  padding-bottom: 16px;
}

/* ABILITY CATEGORY VISIBILITY */

.top-abilities,
.sub-abilities,
.conditional-abilities {
  display: none;
}

.job-type[value="BRD"] ~ .top-abilities,
.job-type[value="NIN"] ~ .sub-abilities,
.job-type[value="MNK"] ~ .conditional-abilities {
  display: block;
}

.repcontainer[data-groupname="repeating_limit"] {
  display: flex;
  flex-direction: column;
  min-height: 5rem;
  padding: 8px 16px 16px 3px;
}

.repcontainer[data-groupname="repeating_song"],
.repcontainer[data-groupname="repeating_primary"],
.repcontainer[data-groupname="repeating_ninjutsu"],
.repcontainer[data-groupname="repeating_secondary"],
.repcontainer[data-groupname="repeating_instant"],
.repcontainer[data-groupname="repeating_technique"] {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 5rem;
  padding: 8px 0 16px 0;
}

/* OVERRIDE */

.override {
  max-width: 400px;
}

/* ADAPTIVE CONTENT */

.ui-dialog .tab-content .charsheet .adaptive {
  display: grid;/* Display grid to easily overlay our span and textarea/input */
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "content"; /* A content area where everything inside this gets placed */
  position: relative;
}
.ui-dialog .tab-content .charsheet .adaptive > * {
  grid-area: content; /* place all direct children of the adaptive container in the content area */
}
.ui-dialog .tab-content .charsheet .adaptive > span {
  /* Setup the basics for the span. This is essentially what you need for an adaptive input */
  opacity: 0;
  z-index: -10;
  border-color: transparent;
  box-sizing: border-box;
  text-transform: initial;
  border-radius: 0px;
}
.ui-dialog .tab-content .charsheet .adaptive--text {
  min-height: 1.5rem;/* Define a minimum height for the container when it is being used for an adaptive textarea */
  min-width: min(100%, 12rem);
}
.ui-dialog .tab-content .charsheet .adaptive--text__span {
  white-space: pre-wrap; /* When the span is being used to make a textarea adaptive, make sure that it allows wrapping of text */
  padding-left: 8px;
  padding-right: 8px;
}
.ui-dialog .tab-content .charsheet .adaptive--text__textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
.ui-dialog .tab-content .charsheet .adaptive--text__textarea,
.ui-dialog .tab-content .charsheet .adaptive--input__input {
  position: absolute; /* The textarea or input in the construct is given absolute positioning so it doesn't influence the size of the container */
}
.ui-dialog .tab-content .charsheet .adaptive--input__input {
  width: 100%; /* An input in the adaptive container needs to use all the width available from the container */
}
.ui-dialog .tab-content .charsheet .adaptive--input__span {
  padding-right: 8px;
  padding-left: 8px; /* When the span is being used to make an input adaptive, give it the same padding as our inputs and an an appropriate minimum height */
  min-height: 1.5rem;
}
