/*------------------------------------------------*\
  #GENERAL
\*------------------------------------------------*/


/* --------- Text ------------- */

span.sheet-bold{
  font-weight: 800;
}

.bold {
  font-weight: 800;
}

/* --------- Inputs ------------- */

input[type="text"],
input[type="text"]:disabled {
  background-color: transparent;
  border-style: none none none none;
  border-color: transparent;
}

input[type="number"] {
  background-color: transparent;
  border: none;
}

/*
textarea {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border-style: none none none none;
  border-width: 0px;
  border-color: transparent;
  resize: none;
  min-height: 1.5rem;
}
*/

/*
textarea {
  background-color: transparent;
  width: 95%;
  height: 120px;
  border-style: none none dotted none;
  border-color: black;
  resize: none;
}
  */

input[type="checkbox"].sheet-checkbox {
  border-style: solid black;
  border-radius: 0px;
}

textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus{
  background-color: white;
}

h3 {
  border-style: none none solid none;
  border-color: black;
}

/* -----Hides up/down buttons on numberfields that don't need them ---*/

input[type=number].sheet-ref::-webkit-inner-spin-button,
input[type=number].sheet-ref::-webkit-outer-spin-button,
input[type=number].sheet-txtfield::-webkit-inner-spin-button,
input[type=number].sheet-txtfield::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number].sheet-ref,
input[type=number].sheet-txtfield {
  -moz-appearance: textfield;
}

/* Style reset */
/*
.ui-dialog .charsheet select,
.ui-dialog .charsheet textarea,
.ui-dialog .charsheet input,
.ui-dialog .charsheet .uneditable-input,
.ui-dialog .charsheet label,
.ui-dialog .charsheet button{
  all: initial;
}
*/

textarea,
input {
  all: initial;
}

/* TABS */

/* configure the tab buttons */
.character,
.items,
.abilities,
.override {
    display: none;
}

/* style the active button */
.tabstoggle[value="character"] ~ div .sheet-button0 {outline: 2px solid red;}
.tabstoggle[value="items"] ~ div .sheet-button1 {outline: 2px solid red;}
.tabstoggle[value="abilities"] ~ div .sheet-button2 {outline: 2px solid red;}
.tabstoggle[value="override"] ~ div .sheet-button3 {outline: 2px solid red;}

/* show the selected tab */
.tabstoggle[value="character"] ~ div.character,
.tabstoggle[value="items"] ~ div.items,
.tabstoggle[value="abilities"] ~ div.abilities,
.tabstoggle[value="override"] ~ div.override {
    display: block;
}

.tab {
  margin-bottom: 8px;
}

/* EXPAND/COLLAPSE */

.expand-checkbox:not(:checked) ~ .expanded-view,
.expand-checkbox:checked ~ .collapsed-view {
  max-height: 0px;
  overflow: hidden;
}

.expand-checkbox:checked ~ .expanded-view,
.expand-checkbox:not(:checked) ~ .collapsed-view {
  max-height: 100vh;
}

.expandable-section.grid {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1.5rem 1fr;
}

.span2 {
  grid-column: span 2;
}

.label-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  text-transform: uppercase;
  text-align: right;

  padding: 0.5rem;

  cursor: pointer;

  border-radius: 7px;
}

.label-toggle:hover {
  color: #7C5A0B;
}

.expand-checkbox {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.1rem;
  background: none;
  border: none;
}

.expand-checkbox:focus {
  outline: none;
}

.expand-checkbox::before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
}

.expand-checkbox:not(:checked)::before {
  border-top: 7px solid transparent;
  border-left: 5px solid currentColor;
  border-bottom: 7px solid transparent;
}

.expand-checkbox:checked::before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 5px solid currentColor;
  transform: translateY(5px);
}

/* LABELS */

.center {
  text-align: center;
}

.tiny {
  font-size: 0.8rem;
}

.mini {
  font-size: 1rem;
  font-weight: normal;
}

.small {
  font-size: 1.2rem;
}

.sub-stat .small {
  font-size: 0.8rem;
}

.medium {
  font-size: 1.4rem;
}

.sub-stat .medium {
  font-size: 1.0rem;
}

.sub-stat .medium.standard {
  font-size: 1.4rem;
}

.large {
  font-size: 2.3rem;
}

.oneline {
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
}

/* SECTIONS */

.top {
  display: grid;
  grid-template-columns: 50px 0.5fr 0.5fr;
  grid-gap: 16px;
  padding: 8px 0px 16px 0px;
}

.grid {
  display: grid;
  grid-template-columns: 360px 1fr;
}

.items.grid {
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: 0.5fr 0.5fr;
}

.vertical-span2 {
  grid-row: span 2;
}

.grid .left {
  background-color: cadetblue;
  padding: 8px 16px 8px 16px;
}

.grid .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  background-color: blanchedalmond;
  padding: 8px 16px 8px 16px;
}

.vertical {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
}

.horizontal {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.tight {
  gap: 2px;
}

.flex.horizontal {
  align-items: flex-end;
}

.right-aligned {
  margin-left: auto;
  margin-right: 0px;
}

.list {
  display: flex;
  flex-direction: column;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.advantage {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 32px;
}

.stat-block {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 16px;
  border-style: none none solid none;
  border-color: black;
}

.stat-block button {
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  color: black;
  background: none;
  border: none;
}

.stat-block button:hover {
  color: gray;
}

.stat-block button:active {
  color: lightgray;
}

input.stat {
  font-size: 2.2em;
  text-align: right;
}

.sub-stat input.stat {
  font-size: 1.4em;
}

.stat-block .medium {
  align-items: baseline;
}

.active-stat {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.magic-point {
  display: flex;
  gap: 32px;
  flex-direction: row;
  align-items: flex-end;
}

.hit-point {
  display: flex;
  gap: 32px;
  flex-direction: row;
  align-items: flex-end;
}

.image {
  width: 256px;
  height: 256px;
  background-color: white;
  margin: auto;
}

/* INPUT */

/*
input[type=number] {
  font-size: 2.3em;
  width: 2em;
}

input[type=number].max {
  font-size: 1.2em;
  width: 2.5em;
}

input.job-input {
  width: 10em;
}
*/

/* ABILITIES */

.ability {
  width: 20em;
  background-color: white;
  border-color: #7C5A0B;
  border-style: solid;
  border-radius: 6px;
  margin: 3px;

  vertical-align: top;
}

.ability-icon {
  width: 40px;
  height: 40px;
  background-color: aquamarine;
  border-radius: 4px;
  margin-top: 0px;
  margin-left: 4px;
  margin-right: 8px;
  margin-bottom: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.title {
  flex-grow: 1;
}

.uses {
  height: 1.6em;
}

.uses .max {
  margin-left: 4px;
}

.ui-dialog .charsheet .uses > input {
  width: 2em;
}

.ability .header {
  background-color: beige;
  border-radius: 6px 6px 0px 0px;
  padding: 4px;
}

.ability .body {
  background-color: white;
  border-radius: 0px 0px 6px 6px;
  padding: 4px;
}

.header-title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.header-title > .title {
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: #7C5A0B;
}

.mini-title {
  font-size: 1.2rem;
  font-weight: bolder;
  padding-right: 4px;
}

.ui-dialog .charsheet .mini-input {
  font-size: 1.5rem;
}

.ui-dialog .charsheet .mini-input.bold {
  font-weight: bolder;
}

.ui-dialog .charsheet .mini-input.italic {
  font-style: italic;
}

.top-abilities,
.sub-abilities,
.conditional-abilities {
  display: none;
}

.flagTitle {
  margin-right: 4px;
}

.uses,
.cost,
.condition,
.trigger,
.target,
.range,
.check,
.cr,
.direct-hit,
.limitation {
  display: none;
}

.title textarea,
.type input,
.uses .max,
.cost input,
.condition textarea,
.trigger textarea,
.target textarea,
.range textarea,
.check input,
.cr input,
.base-effect textarea,
.direct-hit textarea,
.limitation input {
  user-select: none;
  pointer-events: none;
}

.titleFlag[value="e"] ~ textarea,
.typeFlag[value="e"] ~ input,
.usesFlag[value="e"] ~ .max, 
.costFlag[value="e"]  ~ input,
.conditionFlag[value="e"]  ~ textarea,
.triggerFlag[value="e"] ~ textarea,
.targetFlag[value="e"] ~ textarea,
.checkFlag[value="e"] ~ input,
.baseEffectFlag[value="e"] ~ textarea,
.directHitFlag[value="e"] ~ textarea,
.limitationFlag[value="e"] ~ input {
  user-select: auto;
  pointer-events: initial;
}

.flagTitle,
.titleFlag,
.typeFlag,
.iconSource,
.usesFlag,
.costFlag,
.conditionFlag,
.triggerFlag,
.targetFlag,
.checkFlag,
.baseEffectFlag,
.directHitFlag,
.limitationFlag {
  display: none;
}

.overrideSwitch[value="override"] ~ .flagTitle,
.overrideSwitch[value="override"] ~ .titleFlag,
.overrideSwitch[value="override"] ~ .typeFlag,
.overrideSwitch[value="override"] ~ .iconSource,
.overrideSwitch[value="override"] ~ .usesFlag,
.overrideSwitch[value="override"] ~ .costFlag,
.overrideSwitch[value="override"] ~ .conditionFlag,
.overrideSwitch[value="override"] ~ .triggerFlag,
.overrideSwitch[value="override"] ~ .targetFlag,
.overrideSwitch[value="override"] ~ .checkFlag,
.overrideSwitch[value="override"] ~ .baseEffectFlag,
.overrideSwitch[value="override"] ~ .directHitFlag,
.overrideSwitch[value="override"] ~ .limitationFlag {
  display: inline-block;
}

.usesFlag:not(:placeholder-shown) ~ .uses,
.costFlag:not(:placeholder-shown) ~ .cost,
.conditionFlag:not(:placeholder-shown) ~ .condition,
.triggerFlag:not(:placeholder-shown) ~ .trigger,
.targetFlag:not(:placeholder-shown) ~ .target,
.targetFlag:not(:placeholder-shown) ~ .range,
.checkFlag:not(:placeholder-shown)~ .check,
.checkFlag:not(:placeholder-shown) ~ .cr,
.directHitFlag:not(:placeholder-shown) ~ .direct-hit,
.limitationFlag:not(:placeholder-shown) ~ .limitation {
  display: block;
}

.job-type[value="MNK"] ~ .conditional-abilities {
  display: block;
}

.repcontainer[data-groupname="repeating_primary"] {
  display: flex;
  flex-wrap: wrap;
  column-count: 3 auto;
  min-height: 10rem;
}

/* OVERRIDE */

.override {
  max-width: 400px;
}

/* ADAPTIVE CONTENT */

.ui-dialog .tab-content .charsheet .adaptive {
  display: grid;/* Display grid to easily overlay our span and textarea/input */
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "content"; /* A content area where everything inside this gets placed */
  position: relative;
}
.ui-dialog .tab-content .charsheet .adaptive > * {
  grid-area: content; /* place all direct children of the adaptive container in the content area */
}
.ui-dialog .tab-content .charsheet .adaptive > span {
  /* Setup the basics for the span. This is essentially what you need for an adaptive input */
  opacity: 0;
  z-index: -10;
  border-color: transparent;
  box-sizing: border-box;
  text-transform: initial;
  border-radius: 0px;
}
.ui-dialog .tab-content .charsheet .adaptive--text {
  min-height: 1.5rem;/* Define a minimum height for the container when it is being used for an adaptive textarea */
}
.ui-dialog .tab-content .charsheet .adaptive--text__span {
  white-space: pre-wrap; /* When the span is being used to make a textarea adaptive, make sure that it allows wrapping of text */
  padding-left: 8px;
  padding-right: 8px;
}
.ui-dialog .tab-content .charsheet .adaptive--text__textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
.ui-dialog .tab-content .charsheet .adaptive--text__textarea,
.ui-dialog .tab-content .charsheet .adaptive--input__input {
  position: absolute; /* The textarea or input in the construct is given absolute positioning so it doesn't influence the size of the container */
}
.ui-dialog .tab-content .charsheet .adaptive--input__input {
  width: 100%; /* An input in the adaptive container needs to use all the width available from the container */
}
.ui-dialog .tab-content .charsheet .adaptive--input__span {
  padding-right: 8px;
  padding-left: 8px; /* When the span is being used to make an input adaptive, give it the same padding as our inputs and an an appropriate minimum height */
  min-height: 1.5rem;
}